body{width:300px;padding:0px;margin:0px;font-family:"Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;}
ul{padding-inline-start:15px;}
/*@media print{ -webkit-print-color-adjust: exact; } //показывает при печати исходное форматирование */
img.log{height:80px;vertical-align:top;}
.dot1, .dot2, .dot3{padding:10px 10px;color:#7b7b7b;text-shadow:0 0 #8a8a8a;}
#versi{font-size:20px;text-align:center;color:#505050;}
#vertu{height:20px;}
#spr{font-size:smaller;color:#e01212;}
#dt{color:#e01212;font-weight:600;}
#git{width:300px;}
#gpg{font-size:16px;color:#000;font-weight:bold;padding:0px 12px;}
#gpg span{vertical-align:top;}
.bint1, .bint2, .bint3{border:0;background-color:#eaeaea;position:relative;z-index:1;font-size:16px;color:#888888;text-align:center;width:100px;height:40px;outline:none;}
.mji{display:table-cell;}
.kji{display:table-cell;text-align:right;width:160px;font-weight:300;}
.bio{display:table-cell;vertical-align:top;width:100px;height:40px;border:0;cursor:pointer;line-height:40px;}
.bio2{display:table-cell;vertical-align:top;width:50px;height:20px;border:0;cursor:pointer;line-height:20px;padding-bottom:3px;}
.bio3{display:table-cell;vertical-align:top;width:250px;height:20px;border:0;cursor:pointer;line-height:20px;padding-bottom:3px;}
.active{display:block;background-color:#fff;}
.deactive{display:none;}
.opis{}.supa{}
.switch{position:relative;display:inline-block;width:45px;height:24px;}
.switch input{opacity:0;width:0px;height:0px;}
.slider{position:absolute;cursor:pointer;top:0px;left:0px;right:0px;bottom:0px;background-color:#ccc;-webkit-transition: .4s;transition: .4s;}
.slider:before{position:absolute;content:'';height:16px;width:16px;left:4px;bottom:4px;background-color:white;-webkit-transition: .4s;transition: .4s;}
input:checked + .slider.mant{background-color:#2aca1c;}
input:checked + .slider.sbot{background-color:#ff9b20;}
input:checked + .slider.odot{background-color:#c73bc0;}
input:checked + .slider.otgt{background-color:#22a4e2;}
input:checked + .slider.rakt{background-color:#d20e0e;}
input:checked + .slider.srht{background-color:#e2d322;}
input:focus + .slider.mant{box-shadow:0 0 1px #2aca1c;}
input:focus + .slider.sbot{box-shadow:0 0 1px #ff9b20;}
input:focus + .slider.odot{box-shadow:0 0 1px #c73bc0;}
input:focus + .slider.otgt{box-shadow:0 0 1px #22a4e2;}
input:focus + .slider.rakt{box-shadow:0 0 1px #d20e0e;}
input:focus + .slider.srht{box-shadow:0 0 1px #e2d322;}
input:checked + .mant:before{-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);}
input:checked + .sbot:before{-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);}
input:checked + .odot:before{-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);}
input:checked + .otgt:before{-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);}
input:checked + .rakt:before{-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);}
input:checked + .srht:before{-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);}
.slider.round{border-radius:24px;}
.slider.round:before{border-radius:50%;}
.tmant{color:#2aca1c;font-family:'';font-weight:bold;}
.tsbot{color:#ff9b20;font-family:'';font-weight:bold;}
.todot{color:#c73bc0;font-family:'';font-weight:bold;}
.totgt{color:#22a4e2;font-family:'';font-weight:bold;}
.trakt{color:#d20e0e;font-family:'';font-weight:bold;}
.tsrht{color:#e2d322;font-family:'';font-weight:bold;}
#setnas{width:200px;color:#232323;padding:10px 5px;font-weight: bold;display:block;margin:0px 40px;margin-top:10px;border:#909090 solid 1px;border-radius:3px;background-color: #ffffff;cursor:pointer;box-sizing:border-box;margin-right:0px;text-align:center;}
#setnas:hover{color:#fff;background-color:#252525;}